.mat-mdc-raised-button.mat-primary,
.mat-mdc-raised-button.mat-accent,
.mat-mdc-raised-button.mat-warn,
.mat-mdc-unelevated-button.mat-primary,
.mat-mdc-unelevated-button.mat-accent,
.mat-mdc-unelevated-button.mat-warn,
.mdc-fab.mat-primary,
.mdc-fab.mat-accent,
.mdc-fab.mat-warn {
  color: white;
}

.mdc-button {
  border-radius: $btns-border-radius;
}

.mat-mdc-raised-button {
  box-shadow: $btn-shadow;
  -webkit-box-shadow: $btn-shadow;
  -moz-box-shadow: $btn-shadow;

  &:hover,
  &:focus {
    box-shadow: $btn-shadow-hover;
    -webkit-box-shadow: $btn-shadow-hover;
    -moz-box-shadow: $btn-shadow-hover;
  }
}

.mat-mdc-fab,
.mat-mdc-mini-fab,
.mat-mdc-fab:hover,
.mat-mdc-fab:focus,
.mat-mdc-mini-fab:hover,
.mat-mdc-mini-fab:focus {
  box-shadow: none;

  &.with-shadow {
    box-shadow: $btn-shadow;

    &:hover {
      box-shadow: $btn-shadow-hover;
    }
  }
}

.mat-button-toggle-button {
  font-size: 14px;
}

@media (min-width: 768px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
}

.flex-column {
  flex-direction: column;
}

.mdc-button__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-small {
  height: 25px;
  padding: 8;
  padding: 8px 10px;
  border-radius: 12px;
  font-weight: 300;
  font-size: 12px;
}

.btn-warning {
  background-color: $warning;
  color: $text-dark;
}

/// wizard view
///
.btn-use-case {
  .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      max-width: 20px;
      max-height: 20px;
      margin-right: 10px;
    }
  }
}

.btn-menu-dots {
  background-color: transparent;
  color: black !important;
}
