.docs-table{

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 16px;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  border-bottom-color: $borderColor;
}

.mdc-data-table__row {
  height: 60px !important;
  border-top: 1px solid #80808017;

  &:hover {
    background-color: #fafafa !important;
  }
}

.mat-mdc-header-row {
  height: 35px;
  min-height: 35px;
  -webkit-box-shadow: 5px 0px 8px -2px rgba(0, 0, 0, 0.82);
  box-shadow: 5px 0px 8px -2px rgb(172 172 172 / 84%);
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
}

// .mat-mdc-row:hover .mat-mdc-cell {
//   border-color: currentColor;
// }
