.save-text {
    font-weight: 500;
    font-size: 0.8rem;
    padding-left: 10px;
    text-transform: lowercase;
}

.selector-outer-container-floating {

    position: fixed;
    bottom: 3%;
    right: 0;
    top: auto;
    left: 0;
    z-index: 999;
    padding: 7px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 275px;
    border-radius: 20px;
    margin: auto;
}