@import "/src/app/common/styles/colors.scss";
@import "src/assets/scss/_variables.scss";

#btn-use-case-selector {
  min-height: $btn-uc-selector-height;
  background-color: $btn-uc-selector-bc;
  font-weight: 500;
  border-radius: $border-radius;
  // border: 2px solid $btn-uc-selector-border-color;
  color: $btn-uc-selector-color;
  -webkit-box-shadow: $btn-shadow;
  -moz-box-shadow: $btn-shadow;
  box-shadow: $btn-shadow;
}

.btn-load-more {
  max-width: 100px;
  font-weight: 500;
  text-decoration: underline;
  color: $gray-medium-dark;
}

.mat-expansion-panel-body {
  padding: 10px !important;
}

.use-cases-container {
  position: relative;

  .btn-close-use-cases-dialog {
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: auto;
    left: auto;
    background-color: transparent;
    color: black;
  }
}

#select-use-case-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
