<div class="wizard-use-case-outer-container">
  <div id="select-use-case-container" class="w-100" *ngIf="!showUseCases" [ngClass]="{'align-content-center': !selectedCase}">
    <ng-container *ngIf="selectedCase">
    <h2 id="selected-use-case-heading">{{ selectedCase }}</h2>
    </ng-container>
    <button
      mat-raised-button
      (click)="toggleUseCases()"
      id="btn-use-case-selector"
    >
      Case Selector
    </button>
    <!-- <button mat-raised-button (click)="toggleUseCases()" class="w-100" id="btn-use-case-selector">
      {{ selectedCase }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button> -->
  </div>

  <div
    class="use-cases-container d-flex justify-content-center flex-column align-items-center"
    *ngIf="showUseCases"
  >
    <!-- <h3 class="align-self-start justfi-self-start">Choose the content to generate</h3> -->
    <mat-accordion class="w-100">
      <ng-container *ngFor="let group of useCasesGroups">
        <mat-expansion-panel
          (opened)="selectUseCaseGroup(group)"
          [expanded]="selectedUseCaseGroup === group"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> {{ group }} </mat-panel-title>
            <!-- <mat-panel-description> </mat-panel-description> -->
          </mat-expansion-panel-header>

          <app-wizard-use-cases-selector-by-group
            [useCases]="selectGroupUseCases"
          ></app-wizard-use-cases-selector-by-group>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

    <button
      class="m-t-10 btn-load-more"
      mat-button
      (click)="setUseCases(false)"
      *ngIf="showLoadMoreUseCasesBtn"
    >
      show more
    </button>
    <!-- <button mat-mini-fab class="btn-close-use-cases-dialog" (click)="toggleUseCases()">
      <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
    </button> -->
  </div>
</div>
