<div class="row">
  <div class="col-lg-4">
    <mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Generate Article Full Data</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1" *ngIf="article">
    <!-- ------------------------------------------------------------------------- -->
    <!-- Title -->
    <!-- ------------------------------------------------------------------------- -->

    <div class="title">
      <h3>Title</h3>

      <h4 *ngIf="!getFieldEditionStatus('title')">{{ article.title }}</h4>

      <mat-form-field
        appearance="outline"
        class="w-100"
        color="primary"
        *ngIf="getFieldEditionStatus('title')"
      >
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
          >Title</mat-label
        >
        <input matInput type="text" [(ngModel)]="article.title" />
      </mat-form-field>

      <button
        mat-button
        class="button bg-warning rounded f-s-12 p-x-8 p-y-4 text-white f-w-500"
        (click)="toggleFieldEditionStatus('title')"
        *ngIf="!getFieldEditionStatus('title')"
      >
        Edit
      </button>
      <button
        mat-button
        class="bg-primary rounded f-s-12 p-x-8 p-y-4 text-decoration-none text-white f-w-500"
        (click)="toggleFieldEditionStatus('title')"
        *ngIf="getFieldEditionStatus('title')"
      >
        Save
      </button>
    </div>
    <mat-divider class="m-t-30 m-b-30"></mat-divider>

     <!-- ------------------------------------------------------------------------- -->
    <!-- Title -->
    <!-- ------------------------------------------------------------------------- -->
    <app-article-upload-feature-image [articleId]="article.id" [featureImagePath]="article.featureImagePath"></app-article-upload-feature-image>

    <!-- ------------------------------------------------------------------------- -->
    <!-- Primary Keyword -->
    <!-- ------------------------------------------------------------------------- -->

    <div class="p-keyword">
      <h3>Primary Keyword</h3>
      <mat-chip-listbox>
        <mat-chip class="bg-accent">{{ article.primaryKeyword?.name }}</mat-chip>
      </mat-chip-listbox>
    </div>

    <mat-divider class="m-t-30 m-b-30"></mat-divider>

    <!-- ------------------------------------------------------------------------- -->
    <!-- Secondary Keywords -->
    <!-- ------------------------------------------------------------------------- -->

    <div class="s-keyword">
      <h3>Secondary Keywords</h3>
      <mat-chip-listbox>
        <mat-chip
          class="bg-accent text-white"
          *ngFor="let sKey of secondaryKeywords"
          >{{ sKey }}</mat-chip
        >
      </mat-chip-listbox>
      <mat-divider class="m-t-30 m-b-30"></mat-divider>
    </div>

    <!-- ------------------------------------------------------------------------- -->
    <!-- SEO MetaDescription -->
    <!-- ------------------------------------------------------------------------- -->

    <div class="seo-meta-description">

      <app-generate-full-article-for-blog-text-field
        [fieldValue]="article.seoMetaDescription"
        (generateValueEvent)="generateArticleSEoMetaDescription()"
        (valueEditedEvent)="updateArticleSeoMetaDescription($event)"
        [fieldHumanName]="'SEO MetaDescription'"
      >
      </app-generate-full-article-for-blog-text-field>
    </div>
    <mat-divider class="m-t-30 m-b-30"></mat-divider>

    <!-- ------------------------------------------------------------------------- -->
    <!-- Excerpt -->
    <!-- ------------------------------------------------------------------------- -->

    <div class="exceprt">
          <app-generate-full-article-for-blog-text-field
        [fieldValue]="article.excerpt"
        (generateValueEvent)="generateArticleExcerpt()"
        (valueEditedEvent)="updateArticleExcerpt($event)"
        [fieldHumanName]="'Excerpt'"
      >
      </app-generate-full-article-for-blog-text-field>
    </div>
    <mat-divider class="m-t-30 m-b-30"></mat-divider>

    <!-- ------------------------------------------------------------------------- -->
    <!-- Categories -->
    <!-- ------------------------------------------------------------------------- -->

    <div class="categories">
      <h3>Categories</h3>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Categories</mat-label>
        <mat-chip-grid #chipGridCategories aria-label="Enter category">
          <mat-chip-row
            *ngFor="let category of article.categories"
            (removed)="removeCategory(category)"
            [editable]="true"
            (edited)="editCategory(category, $event)"
            [aria-description]="'press enter to edit ' + category"
            class="f-s-14"
          >
            {{ category }}
            <button matChipRemove [attr.aria-label]="'remove ' + category">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            placeholder="New category..."
            [matChipInputFor]="chipGridCategories"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addCategory($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </div>

    <!-- ------------------------------------------------------------------------- -->
    <!-- Tags -->
    <!-- ------------------------------------------------------------------------- -->
    <div class="tags">
      <h3>Tags</h3>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGridTags aria-label="Enter a tag">
          <mat-chip-row
            *ngFor="let tag of article.tags"
            (removed)="removeTag(tag)"
            [editable]="true"
            (edited)="editTag(tag, $event)"
            [aria-description]="'press enter to edit ' + tag"
            class="f-s-14"
          >
            {{ tag }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            placeholder="New tag..."
            [matChipInputFor]="chipGridTags"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </div>

    <!-- ------------------------------------------------------------------------- -->
    <!-- FAQ Script -->
    <!-- ------------------------------------------------------------------------- -->

    <div class="faq">
    <app-article-faq-script-render
     [faqScript]="article.faqScript"
        (generateValueEvent)="generateArticleFaqScript()"
        (valueEditedEvent)="updateArticleFaqScript($event)">

    </app-article-faq-script-render>
    </div>
    <mat-divider class="m-t-30 m-b-30"></mat-divider>
  </mat-card-content>
    <mat-divider></mat-divider>



  <mat-card-actions align="end">
    <button mat-button color="danger" (click)="publishArticle()">
     Publish Now
    </button>
  </mat-card-actions>
  <mat-card-footer *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
  </div>
  <div class="col-lg-8">
    <app-article-render [articleToRender]="article"></app-article-render>
  </div>
</div>

