.btn-use-case {
    border-radius: 15px !important;
    max-height: 33px;
    background-color: #f8f8f8;
    font-weight: 300;
    box-shadow: 0px 2px 5px 0px rgb(143 143 143 / 24%);
    margin-right: 7px;
    margin-top: 10px;
}