// @import url("https://fonts.googleapis.com/css?family=IBM Plex Sans:400,500,300,600,700&display=swap");

// font
// $font-family: "IBM Plex Sans", sans-serif;
$font-family: "IBM Plex Sans", sans-serif;

// light color variable
$sidebarbg: white;
$background: #fff;
$cardbg: white;
$toolbar: white;
$cardshadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
$hoverBgColor: #f6f9fc;

// Dark color variable
$darksidebarbg: #2a3447;
$darkbackground: #2a3447;
$darkcardbg: #2a3447;
$darktoolbar: #2a3447;
$darkcardshadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
  rgba(145, 158, 171, 0.02) 0px 12px 24px -4px;
$darkborderColor: #333f55;
$darkformborderColor: #465670;
$darkhoverbgcolor: #333f55;
$darkthemelightprimary: #253662;
$darkthemelightaccent: #1c455d;
$darkthemelightwarning: #4d3a2a;
$darkthemelighterror: #4b313d;
$darkthemelightsuccess: #1b3c48;

// Sidenav
$sidenav-desktop: 270px !default;
$sidenav-mini: 80px !default;

// borders
$borderColor: #02020229;
$borderformColor: #02020229;
$border-radius: 30px;
$btns-border-radius: 15px;

// custom colors
$caribbean: #127475;
$cinnabar: #f2542d;
$dark-cyan: #0e9594;

$plum: #8d3b72;
$plum-secondary-text-color: #e4a1cf;
$plum-primary-text-color: #fff;

$eminence: #542e71;
$violet: #502f4c;
$violet-chinese: #70587c;
$violet-english: #5c415d;
$violet-ultra: #565676;
$purple: #602b62;
$purple-vivid: rgba(161, 60, 164, 1);
$red: #d90429;
$red-dark: #721c24;
$space-cadet: #2b2d42;
$turquoise: #72e1d1;

$blue-dark: #044389;
$blue-cornflower: #5995ed;
$blue-notifications: #1264a3;
$blue-sky: #4285f4;
$blue-light: #a7c6f9;

$light: #f2f6fa;

$gray-100: #7c8fac;
$gray-50: #e2e2e2;
$gray-davy: #635d5c;

$light-primary: #ecf6ff;
$light-accent: #e8f7ff;
$light-warning: #fff8ec;
$light-error: #f9e7eb;
$light-success: #e8fdf8;

// layout
$boxedWidth: 1200px;

$border-radius: 20px;

$input-height: 30px;

// text color
$textPrimary: #2a3547;
$text-dark: #423b3b;

// documents area
$editor-outer-container-bc: #f6f6f6;
$editor-bc: #fff;

// main colors
$primary: $purple;
$accent: #26c6da;
$warning: #ffb22b;
$error: #fc4b6c;
$success: #26c6da;
$white: #ffffff;

// navbars
$header-height: 50px !default;
$inner-navbar-height: 48px !default;
$header-bc: $primary;
$header-icon-color: $white;
$header-background: rgb(96, 43, 98);
$header-background-gradient: linear-gradient(
  180deg,
  rgba(96, 43, 98, 1) 6%,
  rgba(161, 60, 164, 1) 100%
);

// wizard creator
$btn-create-container-bc: $background;
$btn-create-color: $primary;

// = use case btn selector
$btn-uc-selector-height: 30px;
$btn-uc-selector-width: 115px;
$btn-uc-selector-bc: $white;
$btn-uc-selector-border: none;
$btn-uc-selector-color: $eminence;

// input fields
$placeholder-color: transparentize($textPrimary, 0.6);
$error-container-bc: #f8d7da;
$error-font-color: $red-dark;
$error-container-border-color: #f5c6cb;

//inputs
$label-fs: 0.78rem;
$label-fw: 400;
$label-fc: $text-dark;

// btns
$btn-shadow: 0px 3px 8px 1px rgb(110 110 110 / 30%);
$btn-shadow-hover: 0px 6px 11px 1px rgb(0 0 0 / 33%);

// tabs
$tab-header-bc: $white;
$tab-header-color: $textPrimary;
$tab-header-font-size: 0.9rem;
$tab-header-fw: 500;
$tab-header-selected-fw: 600;
