@import "src/assets/scss/_variables.scss";

$walkthrough-user-initialization-bc: $plum;
$walkthrough-user-initialization-text-secondary: #e4a1cf;

// Error styles
.error-message-container {
  p {
    border: 1px solid $error-container-border-color;
    background-color: $error-container-bc;
    color: $error-font-color;
    font-size: 0.8rem;
    text-align: center;
    padding: 6px 5px;
    border-radius: 5px;
  }
}

// shepherd styles
.shepherd-element {
  background-color: $walkthrough-user-initialization-bc !important;
  color: #fff !important;

  .shepherd-arrow::before {
    background-color: $walkthrough-user-initialization-bc !important;
    background: $walkthrough-user-initialization-bc !important;

    border-color: $walkthrough-user-initialization-bc !important;
  }

  .shepherd-header,
  .shepherd-title,
  .shepherd-cancel-icon,
  .shepherd-text {
    background-color: $walkthrough-user-initialization-bc !important;
    color: #fff !important;
  }

  .shepherd-text,
  .shepherd-step-counter {
    font-weight: 300 !important;
    font-size: 15px !important;
  }

  .shepherd-step-counter {
    color: $walkthrough-user-initialization-text-secondary !important;
    font-size: 13px !important;
  }

  .shepherd-button {
    background-color: transparent !important;
    text-transform: uppercase;
    font-size: 14px !important;

    &.shepherd-button-secondary {
      color: $walkthrough-user-initialization-text-secondary !important;
    }

    &.shepherd-button-primary {
      font-weight: 500 !important;
      color: #fff !important;
    }

    &.shepherd-button-gotit {
      min-width: 80px;
      padding: 15px;
    }
  }
}

// global loading
#global-loading-progress-bar {
  position: absolute;
  top: 50px;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: 999;

  height: 3px;
  // --mdc-linear-progress-active-indicator-color: $plum;

  // .mat-progress-bar-fill::after {
  //   background-color: green !important;
  // }

  // // .mat-progress-bar-buffer {
  // //   background: #0a87e7;
  // // }

  // .mdc-linear-progress__buffer-dots {
  //   background-color: $plum;
  //   color: $plum;
  // }

  // .mdc-linear-progress__secondary-bar {
  //   background-color: $plum;
  //   color: $plum;
  // }
}

// chat assistant
.chat-assistant-sidenav-container {
  height: 100%;

  .mat-drawer-inner-container {
    overflow-x: hidden !important;
  }
}
.thread-list {
  .mdc-button__label {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.message-input {
  .mat-mdc-text-field-wrapper {
    padding-right: 0;

    .mat-mdc-form-field-infix {
      display: flex;
      align-items: center;
    }
  }
  .chat-send-btn {
    background-color: #00000014 !important;
    box-shadow: none !important;
    min-width: 40px !important;
    padding: 10px !important;

    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      font-weight: 600;
      color: #736767;
      margin: 0;
    }
  }
}

.border-round {
  border-radius: $border-radius !important;
}

// pricing area
.plan-interval-selector {
  height: 35px !important;
  .mat-button-toggle-checked {
    .mat-button-toggle-button {
      background-color: $plum;
      color: white;
      font-weight: 400;
    }
  }

  .mat-button-toggle-button {
    font-weight: 500;
  height: 35px !important;

  }

  &.btn-width-150 {
    .mat-button-toggle-button {
      min-width: 150px;
    }
  }
}
