@import "src/assets/scss/_variables.scss";

// Error styles
.error-message-container {
  p {
    border: 1px solid $error-container-border-color;
    background-color: $error-container-bc;
    color: $error-font-color;
    font-size: 0.8rem;
    text-align: center;
        padding: 6px 5px;
    border-radius: 5px;

  }
}

// shepherd styles
.shepherd-element {
  background-color: $blue-sky !important;
  color: #fff !important;

  .shepherd-arrow::before {
  background-color: $blue-sky !important;
  background: $blue-sky !important;

  border-color: $blue-sky !important;
  }

  .shepherd-header, .shepherd-title, .shepherd-cancel-icon, .shepherd-text  {
      background-color: $blue-sky !important;
  color: #fff !important;
  }

  .shepherd-text, .shepherd-step-counter {
    font-weight: 300 !important;
    font-size: 14px !important;
  }

  .shepherd-step-counter {
      color: #a7c6f9 !important;
    font-size: 13px !important;
  }

  .shepherd-button {
      background-color: transparent !important;
      text-transform: uppercase;

    &.shepherd-button-secondary {
      color: #a7c6f9 !important;
    }

    &.shepherd-button-gotit {
      min-width: 80px;
      padding: 15px;
    }
  }
}