@use "@angular/material" as mat;
@include mat.core();

@import "variables";
@import "layouts/transitions";
@import "helpers/color";
@import "helpers/icon-size";

//Theme colors

@import "themecolors/default_theme";
@include mat.all-component-themes($bluetheme);

.dark-theme {
  @include mat.all-component-colors($darkbluetheme);
}

// .dark-theme .aqua_theme {
//   @include mat.all-component-colors($darkaquatheme);
// }

.orange_theme {
  @import "themecolors/orange_theme";
  @include mat.all-component-colors($orangetheme);
}

.aqua_theme {
  @import "themecolors/aqua_theme";
  @include mat.all-component-colors($aquatheme);
}

.purple_theme {
  @import "themecolors/purple_theme";
  @include mat.all-component-colors($purpletheme);
}

.green_theme {
  @import "themecolors/green_theme";
  @include mat.all-component-colors($greentheme);
}

.cyan_theme {
  @import "themecolors/cyan_theme";
  @include mat.all-component-colors($cyantheme);
}

//container layout
@import "overrides/materialoverrides";
@import "dark/dark";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";

// horizontal
@import "horizontal/horizontal";

// apps
@import "apps/calendar";
@import "apps/email";

// pages
@import "pages/dashboards";
@import "pages/auth";
@import "pages/landingpage";

// RTL Theme
@import "rtl/rtl";

// custom-styles
@import "./custom-styles.scss";

// documents
// @import "overrides/ckEDitor";

// CK EDitor Styles

#editor-element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $editor-outer-container-bc;
  overflow-y: auto;

  .ck-content {
    max-width: 1200px;
    width: 100%;
    padding: 25px 5% !important;
    padding-bottom: 50px !important;
    min-height: calc(100dvh - $header-height - $inner-navbar-height);
    border: none !important;
    box-shadow: none;
    background-color: $editor-bc;

    .new-content {
      border-bottom: solid 2px indianred;
      position: relative;
      margin-top: 50px;
      margin-bottom: 25px;
      height: 25px;
      span {
        position: absolute;
        left: 0;
        right: auto;
        top: 12px;
        font-weight: 600;
        z-index: 99;
        background-color: $editor-bc;

        padding-right: 10px;
      }
    }
  }
}
