<div class="row" *ngIf="webpagesToRender">
  <ng-container *ngFor="let webpage of webpagesToRender; let i = index">
    <!-- else -->

    <div
      class="col-sm-6 col-lg-4"
      id="{{ 'webapge-card-' + webpage.id }}"
    >
      <mat-card
        class="cardWithShadow card2 position-relative card-hover cursor-pointer"
        (click)="selectWebpage(webpage)"
      >
        <div
          class="card-overlay h-100 d-flex p-16 p-y-0 align-items-end justify-content-between"
        >
          <mat-chip class="f-s-12 m-y-16 f-w-600 bg-accent">{{
            webpage.primaryKeyword
              ? webpage.primaryKeyword.name
              : "primary keyword"
          }}</mat-chip>
        </div>

        <mat-card-content class="p-y-24">
          <!-- <div class="user-category">
              <div>
                <img
                  src="{{ webpage.user }}"
                  class="rounded-circle"
                  width="40"
                />
              </div>
            </div> -->
          <mat-card-title class="mat-headline-6 m-t-15">{{
            webpage.title
          }}</mat-card-title>
          <div class="webpage-body">
            <p [innerHTML]="webpage.shortDescription"></p>
          </div>
          <div class="d-flex align-items-center justify-content-center m-t-24">
            <span
              class="rounded f-w-600 p-6 p-y-4 f-s-12"
              [ngClass]="{
                'text-warning bg-light-warning': webpage.status === 'draft',
                'bg-light-accent text-accent': webpage.status === 'publish'
              }"
              >{{ webpage.status }}</span
            >
            <div class="d-flex align-items-center">
              <!-- <span
                  class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center"
                  ><i-tabler name="eye" class="icon-18 m-r-4"></i-tabler
                  >{{ webpage.views }}</span
                >
                <span class="f-s-14 mat-subtitle-2 d-flex align-items-center"
                  ><i-tabler name="message-2" class="icon-18 m-r-4"></i-tabler
                  >{{ webpage.comments }}</span
                > -->
            </div>
            <span
              class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center"
            >
              <i-tabler name="point" class="icon-14 m-r-4"></i-tabler>
              {{ webpage.createdAt | date : "MMM d, y" }}
            </span>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="selectWebpage(webpage)">
            View
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
