.field-container {
  margin: 30px 0;
  flex-wrap: wrap ;
}

.wizard-tone-selector,
.wizard-lang-selector,
.wizard-variants-selector,
.wizard-creativity-selector {
  width: 50%;
  margin-top: 15px;
}

.wizard-generate-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;

  .wizard-generate-btn {
    width: 90%;
    height: 43px;
    border-radius: 25px;
    background-color: #008000d6;
  }
}
