<div class="use-case-field-container">
  <ng-container [ngSwitch]="useCase">
    <app-wizard-use-case-google-ads
      *ngSwitchCase="wizardUseCase.GoogleAd"
    ></app-wizard-use-case-google-ads>

    <app-wizard-use-case-facebook-ads
     *ngSwitchCase="wizardUseCase.FacebookAds"
    >
    </app-wizard-use-case-facebook-ads>


    <app-wizard-use-case-email
    *ngSwitchCase="wizardUseCase.EmailMarketing"
    ></app-wizard-use-case-email>

    <app-wizard-use-case-marketing-sms
    *ngSwitchCase="wizardUseCase.SmsMarketing"
    >
    </app-wizard-use-case-marketing-sms>

  </ng-container>
</div>
