<p *ngIf="!inEdition">
  {{ fieldValue }}
</p>

<mat-form-field
  class="w-100 text-area-custom-element"
  color="primary"
  *ngIf="inEdition"
  [floatLabel]="labelType"
>
  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{
    fieldHumanName
  }}</mat-label>
  <textarea matInput rows="5" [formControl]="fieldForm" [placeholder]="placeholder" (blur)="saveEdition()"></textarea>
   <mat-error *ngIf="fieldForm.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<!-- Show spinner when generating the field content -->
<mat-spinner diameter="50" *ngIf="isLoading" class="m-b-40"> </mat-spinner>

<div class="d-flex m-b-20 m-t-20" *ngIf="showActions">
  <button
    mat-stroked-button
    class="f-s-12 p-x-8 p-y-4 text-decoration-none f-w-500 m-r-4"
    *ngIf="!inEdition"
    (click)="toggleFieldEditionStatus()"
  >
    Edit
  </button>
  <button
    mat-stroked-button
    class="f-s-12 p-x-8 p-y-4 text-decoration-none f-w-500"
    (click)="saveEdition()"
    *ngIf="inEdition"
    color="primary"
  >
    Save
  </button>
</div>
