.payment-list-container {
    // height: calc(100dvh - 50px);
    align-items: start;
    justify-content: start;

    .inner-container {
        max-width: 800px;
    }

    mat-card {
        min-height: 300px !important;
    }
}