<div class="row align-items-start justify-content-between">
  <mat-card class="cardWithShadow col-md-4 col-lg-5">
    <mat-card-content>
      <mat-vertical-stepper #stepper>
        <mat-step *ngFor="let section of sections; let i = index">
          <ng-template matStepLabel>{{ section.title }}</ng-template>
          <app-webpage-section-editor
            [webSection]="section"
            [sectionIndex]="i"
            [totalSectionsAmount]="sections.length"
          ></app-webpage-section-editor>

          <div
            class="section-content-container"
            *ngIf="section.content && section.content.length > 0"
          >
            <h3>Section Content</h3>
            

            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title> Content </mat-panel-title>
                <mat-panel-description>
                 Expand to edit
                </mat-panel-description>
              </mat-expansion-panel-header>
             <div class="content" [innerHTML]="section.content"></div>
            </mat-expansion-panel>
          </div>

          <!-- <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div> -->
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>

  <mat-card class="cardWithShadow col-md-7 col-lg-6" *ngIf="webpageData">
    <mat-card-title>Page Final Content</mat-card-title>
    <mat-card-content>
      <app-webpage-render></app-webpage-render>
    </mat-card-content>
  </mat-card>
</div>
