@import "src/app/common/styles/colors.scss";
@import "src/assets/scss/_variables.scss";

.wizard-form-container,
.wizard-content {
  height: calc(100vh - $header-height);
  padding: 0;
  // max-height:calc(100vh - $header-height);
  overflow-y: auto;
}

.mat-tab-group {
  min-height: calc(100vh - $header-height );
  background-color: $background;
}

.wizard-form-container {
  // max-width: 500px !important;
}

:host ::ng-deep .mat-mdc-tab-header {
  background-color: $gray-50;

  .mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before,
  .mat-mdc-tab.mdc-tab--active .mat-ripple-element {
    background-color: $gray-100 !important;
  }

  .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: $gray-medium-dark;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: $gray-dark !important;
  }

  .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline {
    border-color: $gray-medium-dark !important;
  }
}
