<div class="row">
  <div class="wizard-form-container col-md-4 col-12 col-lg-4 col-xl-3">
    <mat-tab-group class="mat-tab-group">
      <mat-tab label="Creator">
        <app-wizard-creator-form></app-wizard-creator-form>
      </mat-tab>
      <mat-tab label="Chat">
        <app-chat></app-chat>
      </mat-tab>
      <mat-tab label="Images"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>

  <!-- <div class="wizard-content col-md-8 col-12 col-lg-7">
    <app-wizard-creator-editor></app-wizard-creator-editor>
  </div> -->

  <div class="wizard-content col-md-8 col-12 col-lg-8 col-xl-9">
    <app-document-home></app-document-home>
  </div>
</div>
