@import "src/app/common/styles/colors.scss";
@import "src/assets/scss/_variables.scss";

.doc-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 25px;
  height: 50px;
  border-bottom: 1px solid $border-gray;
}

.doc-navbar-actions-container {

    width: 359px;
    display: flex;
    justify-content: flex-end;

}

.doc-navbar-btn {
  background-color: #3d333317;
  border-radius: 23px;
  font-weight: 500;
  height: 30px;
  color: #191515d4;
}

.docs-navbar-btn-home {
  background-color: transparent;
  color: $primary !important;
}
