<div class="doc-navbar-container align-items-center justify-content-between">
  <div
    class="folder-tree-container d-flex align-items-center justify-content-start col-10 p-x-0"
  >
    <button
      class="mini-fab-btn docs-navbar-btn-home p-x-0"
      mat-mini-fab
      (click)="goHome()"
      [disabled]="!selectedFoldername"
    >
      <mat-icon class="btn-mat-icon btn-goback">home</mat-icon>
    </button>

    <ng-container *ngIf="selectedFoldername">
      <span class="d-flex">
        <mat-icon class="btn-mat-icon btn-goback">chevron_right</mat-icon>
      </span>
      <span class="selected-folder-name">{{ selectedFoldername }}</span>
    </ng-container>
  </div>

  <div class="doc-navbar-actions-container">
    <button class="btn-menu-dots" mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon class="btn-mat-icon">more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-button  (click)="newFolder()">
        <mat-icon fontSet="material-icons-outlined" class="btn-mat-icon">folder</mat-icon>
        New Folder
      </button>
      <button mat-button  (click)="newDocument()">
          <mat-icon
            class="btn-mat-icon"
            fontSet="material-icons-outlined"
            >description</mat-icon
          >
        New Document
      </button>
      <button
        mat-button
        
        (click)="showFavorites()"
        *ngIf="!showFavoriteElements; else homeBtn"
      >
        <mat-icon class="btn-mat-icon" fontSet="material-icons-outlined"
          >grade</mat-icon
        >
        Favorites
      </button>
      <ng-template #homeBtn>
        <button mat-button  (click)="goHome()">
          Home
        </button>
      </ng-template>
    </mat-menu>
  </div>
</div>
