<div
  class="section-content-container"
  *ngFor="let section of pageSections; let i = index"
>
  <!-- Section with no content STARTS-->
<div class="section-creator" *ngIf="!section.content || section.content.length === 0;else sectionContentContainer">
  <h2>{{ section.title }}</h2>
  <app-webpage-section-editor
    [webSection]="section"
    [sectionIndex]="i"
    [totalSectionsAmount]="pageSections.length"
    [webpageId]="webpageId"
  ></app-webpage-section-editor>
  </div>

  <!-- SEction With no Content ENDS-->

  <ng-template #sectionContentContainer>
  <div
    class="section-content-container"
  >
    <app-html-content-editor
      [isLoading]="pageSectionIsSaving[i].isSaving"
      [contentToEdit]="section.content"
      (contentEditedEmitter)="updateEditedContent($event, section)"
    ></app-html-content-editor>
    <!-- <div class="section-content" [innerHTML]="section.content"></div> -->

    <mat-divider></mat-divider>
  </div>
  </ng-template>
</div>

<!-- Add NEWW SECTION -->

<div class="new-section-container">
  <button mat-stroked-button (click)="showSectionCreator = true" *ngIf="!showSectionCreator">Add new Section</button>

  <div class="section-creator" *ngIf="showSectionCreator">
  <app-webpage-section-editor
    [sectionIndex]="pageSections.length"
    [totalSectionsAmount]="pageSections.length"
    [webpageId]="webpageId"
  ></app-webpage-section-editor>
  </div>
</div>
