@import "src/assets/scss/_variables.scss";
$paginator-height: 60px;

.btn-table {
  height: 25px;
  width: 25px;
  background-color: transparent;
  .btn-mat-icon {
    font-size: 20;
    color: black;
  }

  .is-favorite {
    color: rgb(207, 150, 60);
  }
}

.table-cell-content,
.mdc-data-table__cell,
mat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.wizard-mat-cell-small {
  width: 15%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.wizard-mat-cell-options {
    justify-content: flex-end;
  }
}

.wizard-mat-cell-large {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 250px;
}

.wizard-is-favorite-btn {
  z-index: 10;
}

.folder-icon {
  color: #deb887 !important;
}

.docs-table-container {
  // max-height: calc(100dvh - $header-height - $inner-navbar-height);
  height: calc(100dvh);

  overflow: auto;
  position: relative;
}

.docs-table-paginator {
  position: sticky;
  bottom: 0;
  top: auto;
  height: $paginator-height;
  z-index: 99;
}

.last-modified-mobile {
  font-size: 0.6rem;
}

.table-element-name {
  max-width: 175px;
}

.hide-table-header {
  display: none;
}
