@import "src/assets/scss/_variables.scss";
$paginator-height: 60px;

.btn-table {
  height: 25px;
  width: 25px;
  background-color: transparent;
  .btn-mat-icon {
    font-size: 20;
    color: black;
  }

  .is-favorite {
    color: rgb(207, 150, 60);
  }
}

.table-cell-content,
.mdc-data-table__cell,
mat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.wizard-mat-cell-small {
  width: 15%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.wizard-mat-cell-options {
    justify-content: flex-end;
  }
}

.wizard-mat-cell-large {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 250px;
}

.wizard-is-favorite-btn {
  z-index: 10;
}

.folder-icon {
  color: $plum !important;
}

.docs-table-outer-container {
  // max-height: calc(100dvh - $header-height - $inner-navbar-height);

  position: relative;
  height: 100%;

  .docs-table-inner-container {
    overflow: auto;
    height: calc(100dvh - $header-height - $inner-navbar-height);

    .mat-mdc-table {
      padding-bottom: 60px;
    }
  }
}

.docs-table-paginator {
  position: sticky;
  bottom: 0;
  top: auto;
  height: $paginator-height;
  z-index: 99;
}

.last-modified-mobile {
  font-size: 0.7rem;
}

.table-element-name {
  max-width: 175px;

  .doc-text-name {
    font-size: 1rem;
  }
}

.hide-table-header {
  display: none;
}

.add-new-element-container {
  position: fixed;
  top: auto;
  left: auto;
  right: 50px;
  bottom: 50px;
  animation: fade-in 1s;

  display: block;

  .btn-add-elements {
    height: 50px;
    padding: 0;
    max-width: 50px;
    min-width: 50px;
    background-color: $light;
    // animation: fade-in 1s;

    .mat-icon {
      font-weight: 600 !important;
      font-size: 32px;
      height: 32px;
      width: 32px;
      // animation: fade-in 1s;
    }
  }

  &.hide {
    animation: fade-out 1s;
    display: none;

    .btn-add-elements {
      .mat-icon {
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
