<div class="docs-table-outer-container" #docsTableOuterContainer>
  <div
    class="table-responsive docs-table-inner-container"
    (scroll)="onScrollTableInnerScroll()"
    #docsTableInnerContainer
  >
    <mat-table
      #table
      [dataSource]="dataSource"
      *ngIf="tableElementsToRender"
      class="docs-table"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell
          *matHeaderCellDef
          class="f-w-600 mat-subtitle-1 f-s-14 wizard-mat-cell-large"
        >
          Name
        </mat-header-cell>
        <mat-cell
          class="table-cell-content"
          *matCellDef="let doc"
          class="mat-body-1 wizard-mat-cell-large"
          (click)="documentRowSelected(doc)"
        >
          <mat-icon
            class="m-r-10 folder-icon"
            *ngIf="doc.isDocument; else folderIcon"
            >description</mat-icon
          >
          <ng-template #folderIcon>
            <mat-icon class="m-r-10 folder-icon">folder</mat-icon>
          </ng-template>
          <div
            class="table-element-name d-flex flex-column justify-content-start align-items-start"
          >
            <span class="doc-text-name"> {{ doc.name }}</span>
            <ng-container *ngIf="isMobile && doc.isDocument">
              <span class="last-modified-mobile">
                Modified {{ doc.updatedAt | date : "mediumDate" }}
              </span>
            </ng-container>
          </div>
        </mat-cell>
      </ng-container>

      <!--Primary Keyword Column -->
      <ng-container matColumnDef="words">
        <mat-header-cell
          *matHeaderCellDef
          class="f-w-600 mat-subtitle-1 f-s-14 wizard-mat-cell-small"
        >
          Words
        </mat-header-cell>
        <mat-cell
          class="table-cell-content"
          *matCellDef="let doc"
          class="mat-body-1 wizard-mat-cell-small"
        >
          <span
            class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-2 f-s-12"
            *ngIf="doc.wordsCount; else noWords"
            >{{ doc.wordsCount }}</span
          >

          <ng-template #noWords>-</ng-template>
        </mat-cell>
      </ng-container>

      <!--StatusColumn -->
      <ng-container matColumnDef="updatedAt" *ngIf="!isMobile">
        <mat-header-cell
          *matHeaderCellDef
          class="f-w-600 mat-subtitle-1 f-s-14 wizard-mat-cell-small"
        >
          Last Modified
        </mat-header-cell>
        <mat-cell
          class="table-cell-content"
          *matCellDef="let doc"
          class="mat-body-1 wizard-mat-cell-small"
        >
          {{ doc.updatedAt | date : "short" }}
        </mat-cell>
      </ng-container>

      <!--Actions Column -->
      <ng-container matColumnDef="isFavorite">
        <mat-header-cell
          *matHeaderCellDef
          class="f-w-600 mat-subtitle-1 f-s-14 wizard-mat-cell-small"
        >
          Favorite
        </mat-header-cell>
        <mat-cell
          class="table-cell-content"
          *matCellDef="let doc"
          class="mat-body-1 wizard-mat-cell-small"
        >
          <button
            class="btn-table wizard-is-favorite-btn"
            mat-mini-fab
            (click)="setAsFavorite(doc)"
          >
            <mat-icon
              class="btn-mat-icon"
              [ngClass]=""
              [ngClass]="{ 'is-favorite': doc.isFavorite }"
              fontSet="material-icons-outlined"
              *ngIf="!doc.isFavorite; else favStar"
              >grade</mat-icon
            >
            <ng-template #favStar>
              <mat-icon
                class="btn-mat-icon is-favorite"
                [ngClass]=""
                fontSet="material-icons-outlined"
                *ngIf="doc.isFavorite; else favStar"
                >star</mat-icon
              >
            </ng-template>
          </button>
        </mat-cell>
      </ng-container>

      <!--StatusColumn -->
      <ng-container matColumnDef="menuDots">
        <mat-header-cell
          *matHeaderCellDef
          class="f-w-600 mat-subtitle-1 f-s-14 wizard-mat-cell-small justigy-content-end"
        >
        </mat-header-cell>
        <mat-cell
          class="table-cell-content"
          *matCellDef="let doc"
          class="mat-body-1 wizard-mat-cell-small wizard-mat-cell-options"
        >
          <button class="btn-table" mat-mini-fab [matMenuTriggerFor]="menu">
            <mat-icon class="btn-mat-icon">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-button (click)="openRenameDialog(doc)">
              <mat-icon fontSet="material-icons-outlined" class="btn-mat-icon"
                >edit</mat-icon
              >
              Rename
            </button>
            <button
              mat-button
              (click)="openMoveDialog(doc)"
              *ngIf="doc.isDocument"
            >
              <mat-icon fontSet="material-icons-outlined" class="btn-mat-icon"
                >folder</mat-icon
              >
              Move
            </button>
            <button mat-button (click)="openDeleteDialog(doc)">
              <mat-icon fontSet="material-icons-outlined" class="btn-mat-icon"
                >delete</mat-icon
              >
              Delete
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: !isMobile"
        [ngClass]="{ 'hide-table-header': isMobile }"
      >
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-header-row>
    </mat-table>
    <!-- 
     <mat-paginator
        #paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [length]="docsCount"
        (page)="handlePageEvent($event)"
        class="docs-table-paginator"
      >
      </mat-paginator> -->
  </div>

  <div
    class="add-new-element-container"
    [ngClass]="{ hide: showAddElementsBtn === false }"
    #btnAddElements
  >
    <button
      mat-fab
      color="light"
      aria-label="Create new Folders and Documents"
      [matMenuTriggerFor]="menu"
      class="with-shadow btn-add-elements"
    >
      <mat-icon color="primary" class="f-w-600 m-0">add</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="menu-add-new-docs-folder">
      <button mat-button (click)="newFolder()">
        <mat-icon fontSet="material-icons-outlined" class="btn-mat-icon"
          >folder</mat-icon
        >
        New Folder
      </button>
      <button mat-button (click)="newDocument()">
        <mat-icon class="btn-mat-icon" fontSet="material-icons-outlined"
          >description</mat-icon
        >
        New Document
      </button>
    </mat-menu>
  </div>
</div>
