<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Generate Ideas for Articles</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="articleCreationForm" (ngSubmit)="generateArticleIdeas()">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
        >Business or Blog Name</mat-label
      >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput type="text" formControlName="blogName" />
      </mat-form-field>
      <!-- input -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
        >Main Idea for Article</mat-label
      >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <textarea
          matInput
          rows="5"
          formControlName="shortDescription"
        ></textarea>
      </mat-form-field>
      <div>
        <label id="example-name-label" class="f-w-600 mat-body-1"
          >Amount Of Ideas:
        </label>
      </div>
      <mat-form-field appearance="outline" class="w-40" color="primary">
        <mat-select formControlName="amountOfIdeas">
          <mat-option
            [value]="index + 1"
            *ngFor="let index of keysForSelectorElement"
            >{{ index + 1 }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <app-primary-keyword-selector></app-primary-keyword-selector>

      <div class="m-t-12">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!articleCreationForm.valid || isLoading"
        >
          Generate Now
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<mat-card *ngIf="articleIdeas">
  <mat-card-content>
    <app-article-idea-card
      [articleIdea]="articleIdea"
      *ngFor="let articleIdea of articleIdeas.ideas"
      class="col-md-4 col-lg-3"
    ></app-article-idea-card>
  </mat-card-content>
</mat-card>
