<div class="input-inner-container">
 <mat-label class="d-block f-w-500 f-s-12  mat-subtitle-2 p-l-15">{{
    fieldData.fieldLabel
  }}</mat-label>
<mat-form-field
  class="w-100 text-area-custom-element m-b-20"
  color="primary"
  [floatLabel]="labelType"
>
 
  <input
    matInput
    type="text"
    [formControl]="fieldForm"
    [placeholder]="fieldData.placeholder"
    (blur)="saveEdition()"
    *ngIf="!fieldData.isLongText"
    [matTooltip]="fieldData.tooltipText!"
    [required]="isRequired"
  />

  <textarea
    matInput
    rows="5"
    [formControl]="fieldForm"
    [placeholder]="fieldData.placeholder"
    (blur)="saveEdition()"
    *ngIf="fieldData.isLongText"
    [matTooltip]="fieldData.tooltipText!"
    [required]="isRequired"
  ></textarea>
  <mat-hint align="end">{{ length }}/{{ maxLen }}</mat-hint>
  <mat-error *ngIf="fieldForm.invalid && showErrors">{{ getErrorMessage() }}</mat-error>
</mat-form-field>
</div>
