<div class="dynamic-component-outer-container">
  <ng-container [ngSwitch]="userCaseGroup">
    <app-wizard-use-case-general-writing-form
     *ngSwitchCase="useCaseGroupEnum.GeneralWriting"
    ></app-wizard-use-case-general-writing-form>

    <app-wizard-use-case-internal-dev-form
       *ngSwitchCase="useCaseGroupEnum.InternalDev"
    >

    </app-wizard-use-case-internal-dev-form>
   
    <app-wizard-use-case-website
    *ngSwitchCase="useCaseGroupEnum.WebsiteCopy">
    </app-wizard-use-case-website>
  </ng-container>
</div>
