<div class="dynamic-component-outer-container">
  <ng-container [ngSwitch]="userCaseGroup">
    <app-wizard-use-case-coding-home
      *ngSwitchCase="useCaseGroupEnum.Coding"
    ></app-wizard-use-case-coding-home>

    <app-wizard-use-case-general-writing-form
     *ngSwitchCase="useCaseGroupEnum.GeneralWriting"
    ></app-wizard-use-case-general-writing-form>

    <app-wizard-use-case-internal-dev-form
       *ngSwitchCase="useCaseGroupEnum.InternalDev"
    >

    </app-wizard-use-case-internal-dev-form>

    <app-wizard-use-case-marketing
     *ngSwitchCase="useCaseGroupEnum.AdsAndMarketing"
    ></app-wizard-use-case-marketing>

    <app-wizard-use-case-social
     *ngSwitchCase="useCaseGroupEnum.SocialMedia"
    ></app-wizard-use-case-social>
  </ng-container>
</div>
