.noti-inner-container {
  position: relative;
  .un-read-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    margin: auto;
    background-color: #aeeaea;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  .notification-options {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    left: auto;
    margin: auto;
    padding: 0;
    height: 20px;
    width: 20px;
  }
}

button.un-seen {
  background-color: #f0f8ff;
}

.noti-date {
  display: block;
  font-size: 12px;
  margin-top: 1px;
  color: #5a595f;
}

.notifications-outer-container {
  max-height: 500px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px; // Adjust scrollbar width
  }

  &::-webkit-scrollbar-track {
    background: transparent; // Track background
  }

  &::-webkit-scrollbar-thumb {
    background: #888; // Scrollbar handle color
    border-radius: 4px; // Roundness of the scrollbar handle
    height: 10px !important;
    max-height: 10px !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; // Scrollbar handle color when hovered
  }
}

.notification-menu {
  min-width: 200px;
}