@media screen and (max-width: 960px) {
  .usage-month-pie-chart {
    max-width: 50%;
    // min-width: 350px;
    width: 50% !important;
  }

  .charts-container {
    flex-direction: column !important;
  }

  .usage-month-pie-chart-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
    .usage-month-pie-chart {
        margin-top: 20px;
      max-width: 100%;
      // min-width: 350px;
      width: 100% !important;
    }

    .charts-container {
      flex-direction: column !important;
    }
  
    .usage-month-pie-chart-container {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 960px) {
    .usage-month-pie-chart-container {
        // justify-content: flex-end !important;
    }
    .usage-month-pie-chart {
      max-width: 450px;
      // min-width: 350px;
      width: 100% !important;
      justify-self: end;

      &:last-child {
        margin-top: 20px;
      }
    }
  }

  .usage-outer-container {
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .month-selector-container {
    min-width: 200px;

    .month-selector-container {
      border-radius: 25px !important;
    }
  }