<div class="row usage-outer-container">

    <!-- main charts -->
    <div class="col-12 col-sm-12 col-md-8">
        <app-word-usage-by-date-stacked-columns [data]="wordsUsageByDay" *ngIf="wordsUsageByDay"></app-word-usage-by-date-stacked-columns>
    </div>

    <!-- right column with charts -->
    <div class="col-12 col-sm-12 col-md-4 d-flex flex-wrap justify-content-between p-0 usage-month-pie-chart-container" *ngIf="wordsUsage">

        <!-- Words Usage GPT-3.5 -->
        <app-words-usage-month-pie-chart class="col-12  usage-month-pie-chart" [consumedWords]="wordsUsage.usageCurrentMonth_GPT_3" [wordsLimit]="wordsUsage.wordsMonthlyLimit_GPT_3" [title]="'GPT-3.5'">

        </app-words-usage-month-pie-chart>

         <!-- Words Usage GPT-4 -->
         <app-words-usage-month-pie-chart  class="col-12  usage-month-pie-chart"[consumedWords]="wordsUsage.usageCurrentMonth_GPT_4" [wordsLimit]="wordsUsage.wordsMonthlyLimit_GPT_4" [title]="'GPT-4'">

         </app-words-usage-month-pie-chart>
    </div>

</div>