<div class="row usage-outer-container">
  <div class="month-selector-container d-flex justify-content-between m-b-16 p-x-10">
    <h1 class="p-x-6">Usage</h1>
    <div
      class="month-selector-container d-flex align-items-center justify-content-between b-1 border-round"
    >
      <button mat-icon-button (click)="previousMonth()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span class="selected-month">{{ selectedMonth }}</span>
      <button mat-icon-button (click)="nextMonth()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>

  <div class="charts-container d-flex">
    <!-- main charts -->
    <div class="col-12 col-sm-12 col-md-8">
      <app-word-usage-by-date-stacked-columns
        [data]="wordsUsageByDay"
        *ngIf="wordsUsageByDay"
      ></app-word-usage-by-date-stacked-columns>
      <ngx-spinner type="ball-scale-multiple" size="large" [fullScreen]="false" name="mainGraph">
        <p class="loading-text p-t-32 text-white">Loading...</p>
      </ngx-spinner>
    </div>

    <!-- right column with charts -->
    <div
      class="col-12 col-sm-12 col-md-4 d-flex flex-wrap justify-content-end p-0 usage-month-pie-chart-container"
      
    >
      <!-- Words Usage GPT-3.5 -->
      <app-words-usage-month-pie-chart
        class="col-12 usage-month-pie-chart"
        [consumedWords]="totalWords_gpt_3"
        [wordsLimit]="wordsUsage.wordsMonthlyLimit_GPT_3"
        [title]="'GPT-3.5'"
        *ngIf="wordsUsageByDay"
      >
      </app-words-usage-month-pie-chart>

      <!-- Words Usage GPT-4 -->
      <app-words-usage-month-pie-chart
        class="col-12 usage-month-pie-chart"
        [consumedWords]="totalWords_gpt_4"
        [wordsLimit]="wordsUsage.wordsMonthlyLimit_GPT_4"
        [title]="'GPT-4'"
        *ngIf="wordsUsageByDay"
      >
      </app-words-usage-month-pie-chart>
      <ngx-spinner type="ball-scale-multiple" size="large" [fullScreen]="false" name="pieCharts">
        <p class="loading-text p-t-32 text-white">Loading...</p>
      </ngx-spinner>
    </div>
  </div>
</div>
