<div class="d-flex justify-content-center align-items-start p-4 p-b-100px">
  <!-- <div
    class="col-12 col-lg-6 col-sm-10 col-md-8 col-xl-4 user-settings-card-max-width"
  > -->
    <mat-card class="p-0 border-round col-12 col-lg-6 col-sm-10 col-md-8 col-xl-4 user-settings-card-max-width">
      <mat-card-header>
        <mat-card-title class="m-b-0">
          <h3 class="text-center">My Profile</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1 p-t-32">
        <ng-container *ngIf="dataReady; else loadingData">
          <div class="col-12">
            <form [formGroup]="profileForm" (submit)="updateProfile()">
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block"
                    >First Name
                  </mat-label>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="w-100">
                    <input
                      formControlName="firstName"
                      matInput
                      placeholder="Jane"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block"
                    >Last Name
                  </mat-label>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="w-100">
                    <input
                      formControlName="lastName"
                      matInput
                      placeholder="Dow"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block"
                    >Email</mat-label
                  >
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="w-100">
                    <input
                      formControlName="email"
                      matInput
                      placeholder="jane@email.com"
                      type="email"
                      readonly="true"
                      [disabled]="true"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block"
                    >Password
                  </mat-label>
                </div>
                <div class="col-sm-12">
                  <mat-form-field
                    class="w-100 cursor-pointer"
                    (click)="changePass()"
                    [routerLink]="['']"
                  >
                    <input
                      matInput
                      [type]="hidePass ? 'password' : 'text'"
                      class="cursor-pointer"
                      [value]="'password'"
                    />
                    <button
                      mat-flat-button
                      matSuffix
                      (click)="hidePass = !hidePass"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePass"
                      class="btn-pass f-w-500"
                      (click)="changePass()"
                    >
                      <!-- <mat-icon class="op-5">{{
                      hidePass ? "visibility_off" : "visibility"
                    }}</mat-icon> -->
                      Change
                    </button>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block"
                    >Company
                  </mat-label>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="w-100">
                    <input formControlName="Company" matInput />
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-end p-x-16">
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="!profileForm.valid"
                >
                  <ng-container *ngIf="isLoading">
                    <mat-spinner class="btn-loading-spinner"></mat-spinner>
                  </ng-container>
                  Update
                </button>
              </div>
            </form>
          </div>
        </ng-container>

        <ng-template #loadingData>
          <div class="col-12">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  <!-- </div> -->
</div>
