<div class="magic-actions-btns-outer-container p-20">
  <div class="edited-content-container" *ngIf="editedContent">
    <div class="edited-text" [innerHTML]="editedContent"></div>
    <div class="actions-on-edited-content" *ngIf="!isLoading">
      <button
        mat-stroked-button
        color="primary"
        class="btn-for-edited-content"
        (click)="saveEditedContent()"
      >
        Insert
      </button>
      <button
        mat-button
        color="primary"
        class="btn-for-edited-content"
        (click)="discardEditedContent()"
      >
        Discard
      </button>
    </div>
  </div>

  <div class="magic-actions-inner-container" *ngIf="!isLoading">
    <!-- SHOW MORE IMPORTANT BUTTONS -->
    <div class="rewrite-action btns-container" *ngIf="!showAllButtons">
      <h5 class="btns-container-title">Rewrite Content</h5>
      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.improve)"
      >
        <mat-icon>edit</mat-icon>Improve it
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.shorten)"
      >
        <mat-icon>edit</mat-icon>Shorten It
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.moreDescriptive)"
      >
        <mat-icon>edit</mat-icon>Make it more descriptive
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.moreDetail)"
      >
        <mat-icon>edit</mat-icon>Make it more detailed
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.simplify)"
      >
        <mat-icon>edit</mat-icon>Simplify it
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="toggleShowAllButtons()"
      >
        <mat-icon>edit</mat-icon>Show more
      </button>
    </div>

    <!-- SHOW ALL BUTTONS -->
    <div class="rewrite-action btns-container" *ngIf="showAllButtons">
      <h5 class="btns-container-title">Rewrite Content</h5>
      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.improve)"
      >
        <mat-icon>edit</mat-icon>Improve it
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.shorten)"
      >
        <mat-icon>edit</mat-icon>Shorten It
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.moreDescriptive)"
      >
        <mat-icon>edit</mat-icon>Make it more descriptive
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.moreDetail)"
      >
        <mat-icon>edit</mat-icon>Make it more detailed
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.simplify)"
      >
        <mat-icon>edit</mat-icon>Simplify it
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.moreInformative)"
      >
        <mat-icon>edit</mat-icon>More Informative
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.fixMistakes)"
      >
        <mat-icon>edit</mat-icon>Fix Mistakes
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.paraphraseIt)"
      >
        <mat-icon>edit</mat-icon>Paraphrase It
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.soundFluent)"
      >
        <mat-icon>edit</mat-icon>Sound Fluent
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.moreObjective)"
      >
        <mat-icon>edit</mat-icon>Make it Objective
      </button>
    </div>

    <!--  TONE BUTTONS -->

    <div class="rewrite-action btns-container" *ngIf="showAllButtons">
      <h5 class="btns-container-title">Adjust Tone</h5>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.makeItOptimistic)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.makeItPersuasive)"
      >
        <mat-icon>edit</mat-icon>make it persuasive
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="magic-action-button"
        (click)="applyMagicAction(MagicActions.makeItAssertive)"
      >
        <mat-icon>edit</mat-icon>Make it Assertive
      </button>
    </div>
  </div>

  <div
    class="loading-container d-flex justify-content-start align-items-center"
    *ngIf="isLoading"
  >
    <mat-progress-spinner
      class="example-margin"
      [diameter]="20"
      [color]="'primary'"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
    <span class="f-s-12 f-w-400 m-l-10 text-gray-100"
      >Applying the magic...</span
    >
  </div>
</div>
