<div autosize autoFocus class="user-settings-outer-container">
  <div class="us-navbar-outer-container">
    <app-user-settings-navbar></app-user-settings-navbar>
  </div>
  <mat-sidenav-container [hasBackdrop]="'false'" class="h-100">
    <!-- ============================================================== -->
    <!-- horizontal Sidebar -->
    <!-- ============================================================== -->
    <mat-sidenav
      #leftsidenav
      [mode]="sidebarMode"
      [opened]="sidebarIsOpen"
      (openedChange)="onSidenavOpenedChange($event)"
      (closedStart)="onSidenavClosedStart()"
      class="sidebarNav shadow-none b-r-1 bg-light"
    >
      <ng-scrollbar
        class="position-relative mini-scroll"
        style="height: calc(100dvh)"
      >
        <mat-nav-list class="sidebar-list p-t-32">
          <app-nav-item
            *ngFor="let item of navItems"
            [item]="item"
            (notify)="sidenav.toggle()"
          >
          </app-nav-item>
        </mat-nav-list>
      </ng-scrollbar>
    </mat-sidenav>
    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="h-100">
      <ng-scrollbar
        class="us-content-container align-items-center d-flex justify-content-start maxWidth p-t-30 us-content-container"
      >
        <!-- <main
          [ngClass]="{
            maxWidth: options.boxed
          }"
          class="align-items-center d-flex justify-content-start maxWidth p-t-30 us-content-container"
        > -->
        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
        <!-- </main> -->
      </ng-scrollbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
