<div class="us-change-pass-container">
  <div class="row">
    <div class="col-12 col-lg-6 col-sm-10 col-md-6 col-xl-4">
      <mat-card class="shadow-none p-0">
        <mat-card-header>
          <mat-card-title class="m-b-0 d-flex align-items-center">
            <button
              mat-icon-button
              matSuffix
              (click)="goBack()"
              [attr.aria-label]="'Go Back'"
              class="f-w-500 m-r-12"
            >
              <mat-icon>arrow_back</mat-icon>
            </button>
            <h2>
              <ng-container *ngIf="hasPassword; else newPassTitle">
                Change Password
              </ng-container>

              <ng-template #newPassTitle> Set New Password </ng-template>
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1 p-t-32">
          <ng-container *ngIf="dataReady; else loadingData">
            <div class="col-12">
              <form [formGroup]="passForm" (submit)="updatePassword()">
                <div class="row" *ngIf="hasPassword">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block"
                      >Current Password
                    </mat-label>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="w-100">
                      <input
                        matInput
                        [type]="hideCurrentPass ? 'password' : 'text'"
                        class=""
                        formControlName="currentPassword"
                      />
                      <button
                        mat-flat-button
                        matSuffix
                        (click)="hideCurrentPass = !hideCurrentPass"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideCurrentPass"
                        class="btn-pass f-w-500"
                      >
                        <mat-icon class="op-5">{{
                          hideCurrentPass ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>

                      <mat-hint
                        *ngIf="
                          f['currentPassword'].touched &&
                          f['currentPassword'].invalid
                        "
                        class="m-b-16 error-msg"
                      >
                        <div
                          class="text-error"
                          *ngIf="
                            f['currentPassword'].errors &&
                            f['currentPassword'].errors['required']
                          "
                        >
                          Current Password is required.
                        </div>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row m-t-16">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block"
                      >New Password
                    </mat-label>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="w-100">
                      <input
                        matInput
                        [type]="hideNewPass ? 'password' : 'text'"
                        class=""
                        formControlName="newPassword"
                      />
                      <button
                        mat-flat-button
                        matSuffix
                        (click)="hideNewPass = !hideNewPass"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideNewPass"
                        class="btn-pass f-w-500"
                      >
                        <mat-icon class="op-5">{{
                          hideNewPass ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>
                      <mat-hint
                        *ngIf="
                          f['newPassword'].touched && f['newPassword'].invalid
                        "
                        class="m-b-16 error-msg"
                      >
                        <div
                          class="text-error"
                          *ngIf="
                            f['newPassword'].errors &&
                            f['newPassword'].errors['required']
                          "
                        >
                          Password is required.
                        </div>
                        <div
                          class="text-error"
                          *ngIf="
                            f['newPassword'].errors &&
                            f['newPassword'].errors['minlength']
                          "
                        >
                          Password should be between 8-50 chars.
                        </div>
                        <div
                          class="text-error"
                          *ngIf="
                            f['newPassword'].errors &&
                            f['newPassword'].errors['pattern']
                          "
                        >
                          Make sure your password has 1 number and 1 symbol.
                        </div>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row m-t-16">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block"
                      >Password Confirmation
                    </mat-label>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="w-100">
                      <input
                        matInput
                        [type]="hideConfirmationPass ? 'password' : 'text'"
                        class=""
                        [value]="'password'"
                        formControlName="newPasswordConfirmation"
                      />
                      <button
                        mat-flat-button
                        matSuffix
                        (click)="hideConfirmationPass = !hideConfirmationPass"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideConfirmationPass"
                        class="btn-pass f-w-500"
                      >
                        <mat-icon class="op-5">{{
                          hideConfirmationPass ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>
                      <mat-hint
                        *ngIf="
                          f['newPasswordConfirmation'].touched &&
                          (f['newPasswordConfirmation'].invalid ||
                            passForm.invalid)
                        "
                        class="m-b-16 error-msg"
                      >
                        <div
                          class="text-error"
                          *ngIf="
                            f['newPasswordConfirmation'].errors &&
                            f['newPasswordConfirmation'].errors['required']
                          "
                        >
                          Password Confirmation is required.
                        </div>
                        <div class="text-error" *ngIf="passMatchError">
                          Passwords don't match
                        </div>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row justify-content-end p-x-16">
                  <button
                    mat-flat-button
                    color="primary"
                    [disabled]="!passForm.valid"
                  >
                    <ng-container *ngIf="isLoading">
                      <mat-spinner class="btn-loading-spinner"></mat-spinner>
                    </ng-container>
                    Update
                  </button>
                </div>
              </form>
            </div>
          </ng-container>

          <ng-template #loadingData>
            <div class="col-12">
              <mat-spinner></mat-spinner>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
