<mat-card class="course-app cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="applySearchFilter()"
            [(ngModel)]="searchTerm"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Primary Keyword</mat-label>
          <mat-select
            required
            [value]="primaryKeywordsList[0]"
            (selectionChange)="changePrimaryKeySelection($event)"
          >
            <mat-option
              [value]="pKey"
              *ngFor="let pKey of primaryKeywordsList"
              >{{ pKey }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row" *ngIf="articleIdeas">
  <div class="col-sm-6 col-lg-4" *ngFor="let articleIdea of articleIdeas">
    <app-article-idea-card [articleIdea]="articleIdea"></app-article-idea-card>
  </div>
</div>
