<div class="dialog-inner-container">
  <h3 mat-dialog-title>{{ data.title }}</h3>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ data.labelText }}</mat-label>
      <input
        matInput
        [(ngModel)]="data.value"
        [placeholder]="data.placeholder"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()" class="btn-secondary">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="data.value"
      cdkFocusInitial
      class="btn-primary"
    >
      {{ data.okBtnText }}
    </button>
  </div>
</div>
