<mat-card class="bg-plum shadow-none">
  <mat-card-header class="justify-content-between m-b-48">
    <mat-icon class="close-icon text-white" (click)="onCancel()"
      >close</mat-icon
    >
    <mat-card-title>
      <h3 class="text-white m-0 p-0">{{isUpgrade ? 'Upgrade ' : 'Downgrade '}} Confirmation</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-content>
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 bg-plum shadow-none"
        >
          <!-- Label Column -->
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="text-white">
              <strong>{{ element.label }}:</strong>
            </td>
          </ng-container>
  
          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="text-white">
              {{ element.value }}
            </td>
          </ng-container>
  
          <tr mat-row *matRowDef="let row; columns: ['label', 'value']"></tr>
        </table>
      </mat-card-content>
  </mat-card-content>
  <mat-card-actions class="justify-content-end p-0 m-t-48">
    <button
      mat-button
      (click)="onCancel()"
      class="border-round text-primary f-w-600 btn-cancel m-r-6"
    >
      {{secondaryBtnText}}
    </button>
    <button
      mat-button
      (click)="onConfirm()"
      class="border-round text-primary f-w-600 bg-white"
    >
      {{mainBtnText}}
    </button>
  </mat-card-actions>
</mat-card>
