.btn-cancel {
  background-color: transparent;
  color: #d4d4d4 !important;
}

.payment-details {
  border-color: #ce9ebe !important;
  padding-top: 10px;
}

.subscription-update-container {
  .main-content {
    min-height: 400px;
  }
}

@media screen and (max-width: 600px) {
    .update-subscription-modal-interval-selector-container {
        padding-bottom: 20px;
        justify-content: center;
    }
}
