@import "/src/app/common/styles/colors.scss";

.doc-editor-outer-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

  .editor-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    padding-top: 5px;
    height: 50px;
    background-color: #fff;
    width: 100%;
    align-self: flex-start;
    border-bottom: solid 1px $border-gray;

    .btn-and-name-editor-container {
      display: flex;
      align-items: center;
      width: 90%;

      .name-editor-mat-field {
        width: 100%;
        min-width: 400px;
        mat-form-field {
          width: 100%;
          font-size: 18px;
          font-weight: 500;
          height: 65px;
        }

        .mat-mdc-text-field-wrapper {
          background-color: transparent;
        }
      }
    }

    .options-container {
      width: 6%;
      display: flex;
      justify-content: end;
      .mini-fab-btn {
        background-color: transparent;

        .btn-mat-icon {
          color: black;
          font-size: 25px;
        }
      }
    }
  }

  ckeditor {
    // Styles for the ckeditor if required

    .ck-content {
      min-height: calc(100dvh - 50px - 45px);
    }
  }
}

#doc-editor {
  
}

#doc-editor-inner-container {
  position: relative;
  .new-content-noti-container {
    position: absolute;
    top: 10px;
    bottom: auto;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20;

    .btn-noti {
      height: 25px;
      padding: 8;
    }
    .btn-dismiss {
      border-radius: 0 15px 15px 0;
      max-width: 40px;
      min-width: 32px;
      padding: 2px;
      align-items: center;
      padding-left: 7px;
    }

    .btn-new-content {
      border-radius: 15px 0 0 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #editor-element-container {
    overflow-y: auto;
  }
}
