<div class="fields-container">
    <app-wizard-creator-text-field 
    [fieldData]="fieldData('programmingLang')"
    >
    </app-wizard-creator-text-field>

    <app-wizard-creator-text-field 
    [fieldData]="fieldData('framework')"
    >
    </app-wizard-creator-text-field>
</div>

<div class="fields-container">
    <app-wizard-creator-text-field 
    [fieldData]="fieldData('instruction')"
    >
    </app-wizard-creator-text-field>

</div>

<div class="fields-container">
    <app-wizard-creator-text-field 
    [fieldData]="fieldData('additionalCode')"
    >
    </app-wizard-creator-text-field>

</div>