<div class="use-case-field-container">
  <ng-container [ngSwitch]="useCase">
    <app-wizard-use-case-social-instagram
      *ngSwitchCase="wizardUseCase.InstagramCaption"
    ></app-wizard-use-case-social-instagram>

       <app-wizard-use-case-social-instagram
      *ngSwitchCase="wizardUseCase.FacebookPost"
    ></app-wizard-use-case-social-instagram>

    <app-wizard-use-case-social-linkedin
      *ngSwitchCase="wizardUseCase.LinkedinPost"
    ></app-wizard-use-case-social-linkedin>


    <app-wizard-use-case-social-tweet
      *ngSwitchCase="wizardUseCase.TwitterThread"
    ></app-wizard-use-case-social-tweet>
  </ng-container>
</div>
