<div class="pricing-outer-container">
  <div class="row justify-content-center">
    <div class="col-lg-8 justify-content-center">
      <h4 class="f-s-30 f-w-600 text-center mat-subtitle-1 lh-lg m-b-16">
        Flexible Plans Tailored to Fit Your Creative's Unique Needs!
      </h4>
      <div class="d-flex align-items-center justify-content-center">
        <span class="f-s-14 m-r-8">Monthly</span>
        <mat-slide-toggle
          (click)="annualPricing = !annualPricing"
          color="primary"
          [checked]="annualPricing"
          >Yearly</mat-slide-toggle
        >
      </div>
      <div class="text-center m-t-6">Save 20% on annual plans</div>
    </div>
  </div>

  <div class="row m-t-32 p-t-32">
    <div
      class="col-sm-4 col-lg-4 pricing-card-outer-container"
      *ngFor="let pricecard of pricecards"
      [ngClass]="{ popular: pricecard.popular }"
    >
      <mat-card
        class="cardWithShadow pricing-card h-100"
        [ngClass]="{ popular: pricecard.popular }"
      >
        <mat-card-content
          class="p-y-24 p-t-48 d-flex flex-col justify-content-around h-100"
        >
          <!-- <span
            *ngIf="pricecard.popular"
            class="popular-badge text-uppercase bg-light-warning text-warning p-x-8 p-y-4 f-s-12 f-w-500 rounded"
            >Popular</span
          > -->

          <div class="d-flex flex-col h-100">
            <div class="popular-indicator-container" *ngIf="pricecard.popular">
              <h4>Popular</h4>
              <div class="helper-box"></div>
            </div>

            <div
              class="pricing-title-container d-flex align-items-center justify-content-center flex-col"
            >
              <h3 class="pricing-title">{{ pricecard.plan }}</h3>
            </div>

            <!-- <span class="d-block text-uppercase f-s-12 m-b-16">{{
          pricecard.plan
        }}</span> -->

            <!-- <div *ngIf="pricecard.free; else pricingContent">
          <h2 class="mat-headline-6 plan-title m-b-24">Free</h2>
        </div> -->

            <div
              class="align-items-center d-flex flex-col justify-content-center m-y-16 ng-star-inserted pricing-area-container"
            >
              <ng-container *ngIf="pricecard.free; else pricingContent">
                <h2 class="mat-headline-6 plan-title">Free</h2>
              </ng-container>
              <ng-template #pricingContent>
                <ng-container *ngIf="annualPricing; else monthlyPricing">
                  <div
                    class="pricing-area-inner-container d-flex justify-content-around align-items-center"
                  >
                    <div class="original-price-container">
                      {{ pricecard.planOriginalPrice }}
                    </div>
                    <h2 class="mat-headline-6 plan-title">
                      ${{ yearlyPrice(pricecard) }}
                    </h2>
                    <span
                      *ngIf="annualPricing"
                      class="text-uppercase bg-light-warning text-warning p-x-8 p-y-4 f-s-12 f-w-500 rounded"
                      >{{ pricecard.planAnnualPercentOff }}%</span
                    >
                  </div>
                </ng-container>
              </ng-template>
              <ng-template #monthlyPricing>
                <div class="d-flex justify-content-center align-items-center">
                  <h2 class="mat-headline-6 plan-title">
                    ${{ pricecard.planOriginalPrice }}
                  </h2>
                </div>
              </ng-template>
              <p class="per-month-text text-center">per month</p>
            </div>

            <div class="plan-description-container b-b-1">
              <p class="plan-description-text">
                {{ pricecard.description }}
              </p>
            </div>

            <div
              class="d-flex align-items-center p-y-12"
              *ngFor="let rule of pricecard.rules"
            >
              <div
                *ngIf="rule.limit; else noLimit"
                class="d-flex align-items-center"
              >
                <i-tabler
                  name="check"
                  class="icon-16 m-r-12 text-primary d-flex"
                ></i-tabler>
                <span class="f-s-14 f-w-500">{{ rule.title }}</span>
              </div>
              <ng-template #noLimit>
                <i-tabler
                  name="x"
                  class="icon-16 m-r-12 op-5 d-flex"
                ></i-tabler>
                <span class="op-5 f-w-500 f-s-14">{{ rule.title }}</span>
              </ng-template>
            </div>
          </div>
          <button
            mat-raised-button
            class="w-100 m-t-24 bg-plum text-white f-w-500 f-s-18 btn-upgrade align-self-end"
          >
            {{ pricecard.btnText }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
