/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scrollbar-gutter: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: IBM Plex Sans, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

#toast-container > div {
  opacity: 1;
}

// regular style toast
@import "ngx-toastr/toastr";

@import "/src/app/common/styles/angular-material.scss";

@import "/src/app/common/styles/colors.scss";

.ck-editor__editable_inline {
  min-height: 300px;
}

// Breadcumbs Styles
.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
}

.xng-breadcrumb-separator {
  padding: 0 4px;
}

.xng-breadcrumb-link {
  background-color: transparent;
}

// wizard general styles

.btn-goback {
  background-color: transparent !important; // Making the button background transparent

  .btn-mat-icon {
    color: black !important; // Setting the icon color to black
    font-size: 25px !important; // Setting the icon size to 25px
  }
}

#editor {
  .new-content {
    border-top: 1px solid red;
  }
}
