<div class="section-form-container">
  <h3>Personalize the Content Generation</h3>

  <div class="field-editor-container">
    <app-text-area-field-render-and-editor
      [fieldHumanName]="'Section Summary'"
      [fieldValue]="webSection.summary"
      [isGenerator]="true"
      (valueEditedEvent)="setSummaryText($event)"
    ></app-text-area-field-render-and-editor>
  </div>
  <mat-divider></mat-divider>

  <h5>Adjust params</h5>
  <div class="field-editor-container">
    <app-option-field-render-and-editor
      [options]="contentToneOptions"
      [fieldHumanName]="'Select the tone to use'"
      (selectionChangeEvent)="changeContentTone($event)"
    ></app-option-field-render-and-editor>
  </div>
  <div class="field-editor-container">
    <app-option-field-render-and-editor
      [options]="contentTypeOptions"
      [fieldHumanName]="'Select the type of Content'"
      (selectionChangeEvent)="changeContentType($event)"
      class="m-t-3"
    ></app-option-field-render-and-editor>
  </div>

  <div class="actions-container">
    <button mat-stroked-button color="primary" (click)="generateContent()" [disabled]="isLoading">
      Generate Content
    </button>
  </div>
  <div class="loading-container" *ngIf="isLoading">
     <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
