<div class="row" *ngIf="articleSelected">
  <ng-container *ngFor="let article of articlesToRender; let i = index">
    <!-- else -->

    <div
      class="col-sm-6 col-lg-4"
      *ngIf="!articleSelected[i].isSelected; else fullView"
      id="{{ 'article-card-' + article.id }}"
    >
      <mat-card
        class="cardWithShadow card2 position-relative card-hover cursor-pointer"
        (click)="selectArticle(article)"
      >
        <div class="card-image-container">
          <img
            mat-card-image
            src="{{ imageFullPath(article) }}"
            alt="Article Feature Image"
            class="card-image"
          />
        </div>
        <div
          class="card-overlay h-100 d-flex p-16 p-y-0 align-items-end justify-content-between"
        >
          <mat-chip class="f-s-12 m-y-16 f-w-600 bg-accent">{{
            article.primaryKeyword
              ? article.primaryKeyword.name
              : "primary keyword"
          }}</mat-chip>
        </div>

        <mat-card-content class="p-y-24">
          <!-- <div class="user-category">
              <div>
                <img
                  src="{{ article.user }}"
                  class="rounded-circle"
                  width="40"
                />
              </div>
            </div> -->
          <mat-card-title class="mat-headline-6 m-t-15">{{
            article.title
          }}</mat-card-title>
          <div class="article-body">
            <p [innerHTML]="article.body.substring(0, 300)"></p>
          </div>
          <div class="d-flex align-items-center justify-content-center m-t-24">
            <span
              class="rounded f-w-600 p-6 p-y-4 f-s-12"
              [ngClass]="{
                'text-warning bg-light-warning': article.status === 'draft',
                'bg-light-accent text-accent': article.status === 'publish'
              }"
              >{{ article.status }}</span
            >
            <div class="d-flex align-items-center">
              <!-- <span
                  class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center"
                  ><i-tabler name="eye" class="icon-18 m-r-4"></i-tabler
                  >{{ article.views }}</span
                >
                <span class="f-s-14 mat-subtitle-2 d-flex align-items-center"
                  ><i-tabler name="message-2" class="icon-18 m-r-4"></i-tabler
                  >{{ article.comments }}</span
                > -->
            </div>
            <span
              class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center"
            >
              <i-tabler name="point" class="icon-14 m-r-4"></i-tabler>
              {{ article.createdAt | date : "MMM d, y" }}
            </span>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="selectArticle(article)">
            View
          </button>
          <button mat-button color="warning" (click)="editArticle(article)">
            Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <ng-template #fullView>
      <div class="col-12" id="{{ 'article-card-' + article.id }}">
        <app-article-render [articleToRender]="article"></app-article-render>
      </div>
    </ng-template>
  </ng-container>
</div>
