/* chat-assistant-home.component.css */
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 20%;
  }
  
  .sidenav-content {
    padding: 10px;
  }
  
  .main-content {
    height: calc(100dvh - 160px); /* Adjust based on header/footer height */
    overflow-y: auto;
    margin-bottom: 10px;
  }