<!-- chat-assistant-home.component.html -->
<mat-sidenav-container class="sidenav-container overflow-hidden">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <app-chat-list-sidebar></app-chat-list-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content overflow-hidden">
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <div class="row chat-input-outer-container">
      <app-chat-input-field class="col-12"></app-chat-input-field>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
