/* chat-assistant-home.component.css */
.chat-assistant-sidenav-container {
    height: 100%;

    .mat-drawer-inner-container {
      overflow-x: hidden;
    }
  }
  
  .sidenav {
    width: 20%;
  }
  
  .sidenav-content {
    padding: 10px;
    overflow: hidden !important;
    padding-right: 0;

  }
  
  .main-content {
    height: calc(100dvh - 150px); /* Adjust based on header/footer height */
    overflow-y: auto;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;

    .main-content-inner-container {
      max-width: 900px;
    }
  }