@import 'src/app/common/styles/colors.scss';
@import "src/assets/scss/_variables.scss";


.doc-home-outer-container {
        border-left: 1px solid $border-gray;
    min-height: calc(100dvh - $header-height);
}

.doc-list-container {
    display: flex;
    flex-direction: column;
    height: auto;

    #docs-navbar {
        align-self: flex-start;
        width: 100%;
    }

    .docs-list {
        overflow-y: auto;
        background-color: #fff;
        padding-bottom: 25px;
    }
}