<div class="fields-container">
    <app-wizard-creator-button-toggle [fieldData]="buttonToggleData('typeOfIssue')"></app-wizard-creator-button-toggle>
</div>

<div class="fields-container" *ngIf="selectedTypeOfIssue === 'bugReport'">
    <app-wizard-creator-text-field 
    [fieldData]="textFieldData('bugDescription')"
    >
    </app-wizard-creator-text-field>

    <app-wizard-creator-text-field 
    [fieldData]="textFieldData('bugSolution')"
    >
    </app-wizard-creator-text-field>
</div>

<div class="fields-container" *ngIf="selectedTypeOfIssue === 'featureRequest'">
    <app-wizard-creator-text-field 
    [fieldData]="textFieldData('featureDescription')"
    >
    </app-wizard-creator-text-field>

</div>
